/* Header */
/* Gallery */

.curalate-thumbs {
    text-align: center;
    width: 1026px;
}

.curalate-thumbnail {
    float: left;
    width: 328px;
    height: 328px;
    margin: 0 14px 14px 0;
    padding: 0;
}

#curalate-upload-photos {
    display: block;
    float: left;
    width: 324px;
    height: 324px;
    margin: 0 14px 14px 0;
    padding: 0;
    background: url('../img/gallery-upload.png') 0 0 no-repeat;
    border: 2px solid #dedede;
	cursor: pointer;
}

.curalate-image {
    cursor: default !important;
    height: auto;
    width: 328px;
}

.curalate-image:hover {
    cursor: pointer;
    cursor: hand;
}

.curalate-hidden {
    display: none;
}

.curalate-fan-reel {
    padding-top: 35px;
}

.curalate-photo-template-hidden {
    display: none;
}

.curalate-image-container {
    position: relative;
}

/* Hover */

.curalate-hover {
      opacity: 1 !important;  
}

.curalate-image-overlay {
    display: none;
    cursor: pointer;
    display: none;
    height: 100%;
    left: 0;
    opacity: 1 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Video */

.curalate-play-video-button {
    cursor: pointer;
    height: 50px !important;
    width: 50px !important;
    background: url("../img/play-button.png") no-repeat;
    position: absolute;
    top: 280px;
    left: 345px;
}

/* Load More */

.curalate-load-more-container {
    text-align: center;
}

.curalate-load-more {
    background: url('../img/load-more.png');
    cursor: pointer;
    display: none;
    height: 41px;
    margin-bottom: 15px;
    width: 183px;
}

/* Needed due to 'clip' in Crate & Barrel's default CSS. */
iframe#curalate-photo-picker {
	clip: auto;
}
