/* Header */
/* Gallery */

#curalate-content {
	position: relative;
	width: 1025px;
	overflow: hidden;
}

.curalate-viewport {
    display: inline-block;
    height: 328px !important;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    width: 100% !important;
}

.curalate-thumbs {
	position: absolute;
    white-space: nowrap;
	left: 0;
}

.curalate-thumbnail {
	float: left;
    width: 328px;
	height: 328px;
	margin: 0 13px 0 0;
	padding: 0;
	background: gray;
	z-index: 200;
	position: relative;
}

img.curalate-image {
	position: absolute;
	top: 0;
	left: 0;
    cursor: default !important;
    height: auto;
    width: 328px;
	z-index: 50;
}

.curalate-image:hover {
    cursor: pointer;
    cursor: hand;
}

.curalate-hidden {
    display: none;
}

/* Hover */

.curalate-image-overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
    cursor: pointer;
    display: none;
    height: 100%;
	width: 100%;

	z-index:51;
	opacity: 1 !important;
}

.curalate-thumbnail:hover .curalate-image-overlay {
	display: block;
}

.curalate-image-overlay-background {
    background: white;
	position: absolute;
	top: 0;
	left: 0;
    height: 100%;
	width: 100%;
    opacity: .75 !important;
	z-index: 250;
}


.curalate-shop-it {
	position: absolute;
	top: 143px;
	left: 98px;
	display: block;
	width: 131px;
	height: 41px;
	background: url('../img/shop-it.png');
	z-index: 300;
}

/* Navigation */

#curalate-fan-reel .curalate-previous-page,
#curalate-fan-reel .curalate-next-page {
	display: block;
	cursor: pointer;
	position: absolute;
	width: 29px;
	height: 29px;
	top: 140px;
	z-index:300;
}

#curalate-content .curalate-previous-page {
	left: 10px;
	background: url('../img/prev.png') 0 0 no-repeat;
}

#curalate-content .curalate-next-page {
	right: 25px;
	background: url('../img/next.png') 0 0 no-repeat;
}

